<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,988},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>par-lock1 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1009},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>par-lock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,988},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>story-Slime1_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,929},{87,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,127}}</string>
                <key>sourceSize</key>
                <string>{87,127}</string>
            </dict>
            <key>story-air.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,773},{154,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,105}}</string>
                <key>sourceSize</key>
                <string>{154,105}</string>
            </dict>
            <key>story-geezer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{101,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,175}}</string>
                <key>sourceSize</key>
                <string>{101,175}</string>
            </dict>
            <key>story-geezer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,811},{87,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,174}}</string>
                <key>sourceSize</key>
                <string>{87,174}</string>
            </dict>
            <key>story-goblin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{182,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,280}}</string>
                <key>sourceSize</key>
                <string>{182,280}</string>
            </dict>
            <key>story-leader.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,281}}</string>
                <key>sourceSize</key>
                <string>{203,281}</string>
            </dict>
            <key>story-leaderWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,638},{113,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,141}}</string>
                <key>sourceSize</key>
                <string>{113,141}</string>
            </dict>
            <key>story-people.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,968},{51,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,73}</string>
            </dict>
            <key>story-people2.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,150},{38,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,74}}</string>
                <key>sourceSize</key>
                <string>{38,74}</string>
            </dict>
            <key>story-people3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,150},{38,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,74}}</string>
                <key>sourceSize</key>
                <string>{38,74}</string>
            </dict>
            <key>story-people3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,968},{38,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,53}}</string>
                <key>sourceSize</key>
                <string>{38,53}</string>
            </dict>
            <key>story-people4.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{102,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,146}}</string>
                <key>sourceSize</key>
                <string>{102,146}</string>
            </dict>
            <key>story-people5.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,753},{76,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{102,146}</string>
            </dict>
            <key>story-people6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,490},{76,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{102,146}</string>
            </dict>
            <key>story-people6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,155},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,77}</string>
            </dict>
            <key>story-pig1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,811},{81,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,162}}</string>
                <key>sourceSize</key>
                <string>{81,162}</string>
            </dict>
            <key>ui-Lock1 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,704},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>ui-Lock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,987},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>ui-Lock2 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,987},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>ui-Lock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1012},{8,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,9}}</string>
                <key>sourceSize</key>
                <string>{8,9}</string>
            </dict>
            <key>ui-Lock3 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,987},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>ui-Lock3.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1012},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>ui-btnFriendStatueNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,587},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>ui-btnFriendStatueSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,587},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>ui-btnMapleverDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,638},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>ui-btn_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,929},{89,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,46}}</string>
                <key>sourceSize</key>
                <string>{89,46}</string>
            </dict>
            <key>ui-btn_mapDisabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,155},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,46}}</string>
                <key>sourceSize</key>
                <string>{87,46}</string>
            </dict>
            <key>ui-btn_mapSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,975},{89,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,46}}</string>
                <key>sourceSize</key>
                <string>{89,46}</string>
            </dict>
            <key>ui-btnbuleegg.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,521},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>ui-btnbuleeggSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,455},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>ui-btngreenegg.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,521},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>ui-btngreeneggSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,455},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>ui-btnpurpleegg.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,68},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>ui-btnpurpleeggSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>ui-btnyellowegg.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,68},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>ui-btnyelloweggSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>ui-chapter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,246},{242,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,142}}</string>
                <key>sourceSize</key>
                <string>{242,142}</string>
            </dict>
            <key>ui-chapter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,529},{242,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,142}}</string>
                <key>sourceSize</key>
                <string>{242,142}</string>
            </dict>
            <key>ui-chapter3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{242,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,142}}</string>
                <key>sourceSize</key>
                <string>{242,142}</string>
            </dict>
            <key>ui-chapter4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,285},{242,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,142}}</string>
                <key>sourceSize</key>
                <string>{242,142}</string>
            </dict>
            <key>ui-chapter5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,567},{242,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,142}}</string>
                <key>sourceSize</key>
                <string>{242,142}</string>
            </dict>
            <key>ui-chapter6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{242,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,142}}</string>
                <key>sourceSize</key>
                <string>{242,142}</string>
            </dict>
            <key>ui-chapterLock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,150},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>ui-chapterLock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,968},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>ui-chapterLock3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,234},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,106}}</string>
                <key>sourceSize</key>
                <string>{110,106}</string>
            </dict>
            <key>ui-hore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{53,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,31}}</string>
                <key>sourceSize</key>
                <string>{53,31}</string>
            </dict>
            <key>ui-map_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{151,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,110}}</string>
                <key>sourceSize</key>
                <string>{151,110}</string>
            </dict>
            <key>ui-map_sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,811},{153,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,155}}</string>
                <key>sourceSize</key>
                <string>{153,155}</string>
            </dict>
            <key>ui-map_sun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,346},{107,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,106}}</string>
                <key>sourceSize</key>
                <string>{107,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelLayer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbdfd6dc1ccec61f0fd597a081bbd49e:1/1$</string>
            <key>textureFileName</key>
            <string>levelLayer.png</string>
        </dict>
    </dict>
</plist>
