<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,847},{171,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,168}}</string>
                <key>sourceSize</key>
                <string>{171,168}</string>
            </dict>
            <key>1giftclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,811},{148,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,133}}</string>
                <key>sourceSize</key>
                <string>{148,133}</string>
            </dict>
            <key>aimDialogBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,430}}</string>
                <key>sourceSize</key>
                <string>{278,430}</string>
            </dict>
            <key>aimPropBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,811},{250,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,132}}</string>
                <key>sourceSize</key>
                <string>{250,132}</string>
            </dict>
            <key>back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,945},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,961},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>button_set2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,945},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>button_set3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,961},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>femaleHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,284},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>maleHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,202},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pau.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,302},{89,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,88}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>propBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,202},{98,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,84}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,961},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,945},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>startgame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,102},{286,98}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{286,98}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>startgame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{286,98}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{286,98}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>sunlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,434},{375,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,375}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>tab_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,811},{185,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,80}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>tab_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,811},{185,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,80}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>taskview.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{411,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,99}}</string>
                <key>sourceSize</key>
                <string>{411,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a2934c3ed474d904234036f48cc2c9f:1/1$</string>
            <key>textureFileName</key>
            <string>panel.png</string>
        </dict>
    </dict>
</plist>
