<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,966},{86,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>assistant_prop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1140},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>bag_item_button_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1031},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>bag_item_button_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,494},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>bag_item_explain_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,549}}</string>
                <key>sourceSize</key>
                <string>{750,549}</string>
            </dict>
            <key>bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{382,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,53}}</string>
                <key>sourceSize</key>
                <string>{382,53}</string>
            </dict>
            <key>blue_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1008},{143,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,62}}</string>
                <key>sourceSize</key>
                <string>{143,62}</string>
            </dict>
            <key>blue_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,705},{158,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,80}}</string>
                <key>sourceSize</key>
                <string>{158,80}</string>
            </dict>
            <key>brown_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,787},{151,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,64}}</string>
                <key>sourceSize</key>
                <string>{151,64}</string>
            </dict>
            <key>brown_button_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,730},{156,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,82}}</string>
                <key>sourceSize</key>
                <string>{156,82}</string>
            </dict>
            <key>brown_shadow_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,886},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>buyMoveCard_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,919},{87,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,145}}</string>
                <key>sourceSize</key>
                <string>{87,145}</string>
            </dict>
            <key>friends_rank_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1054},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>gate_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1135},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>green_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,966},{143,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,62}}</string>
                <key>sourceSize</key>
                <string>{143,62}</string>
            </dict>
            <key>green_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,648},{158,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,80}}</string>
                <key>sourceSize</key>
                <string>{158,80}</string>
            </dict>
            <key>green_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,708},{112,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,88}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,553},{331,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,53}}</string>
                <key>sourceSize</key>
                <string>{331,53}</string>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,300},{159,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,168}}</string>
                <key>sourceSize</key>
                <string>{159,168}</string>
            </dict>
            <key>newbie_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,887},{135,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,142}}</string>
                <key>sourceSize</key>
                <string>{135,142}</string>
            </dict>
            <key>openNewArea_boder_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1161},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{296,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,257}}</string>
                <key>sourceSize</key>
                <string>{296,257}</string>
            </dict>
            <key>popup_common_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1072},{61,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,46}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>popup_shop_prop_price_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,853},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,64}}</string>
                <key>sourceSize</key>
                <string>{150,64}</string>
            </dict>
            <key>prop_bg_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,461},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>prop_bg_hignlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,300},{97,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,101}</string>
            </dict>
            <key>prop_bg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1030},{89,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{89,91}</string>
            </dict>
            <key>prop_bg_normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,403},{89,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>prop_mask_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,886},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{297,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,294}}</string>
                <key>sourceSize</key>
                <string>{297,294}</string>
            </dict>
            <key>rank_type_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,842},{121,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,43}}</string>
                <key>sourceSize</key>
                <string>{121,43}</string>
            </dict>
            <key>rank_type_btn_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,798},{122,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,42}}</string>
                <key>sourceSize</key>
                <string>{122,42}</string>
            </dict>
            <key>red_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,623},{158,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,80}}</string>
                <key>sourceSize</key>
                <string>{158,80}</string>
            </dict>
            <key>shop_border_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,599},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,107}}</string>
                <key>sourceSize</key>
                <string>{102,107}</string>
            </dict>
            <key>shop_bottom_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,608},{99,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{99,38}</string>
            </dict>
            <key>shop_discount_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{27,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,4}}</string>
                <key>sourceSize</key>
                <string>{27,4}</string>
            </dict>
            <key>shop_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,608},{280,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,276}}</string>
                <key>sourceSize</key>
                <string>{280,276}</string>
            </dict>
            <key>shop_popup_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,814},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shop_popup_scroll_view_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1108},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>toast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,999},{96,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,65}}</string>
                <key>sourceSize</key>
                <string>{96,65}</string>
            </dict>
            <key>top_energy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1127},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>use_prop_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,553},{93,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,33}}</string>
                <key>sourceSize</key>
                <string>{93,33}</string>
            </dict>
            <key>use_prop_number_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1073},{50,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,33}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>week_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1127},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>week_progress_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1031},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>week_progress_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,608},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>yellow_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1072},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopLayer.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81509d0eaa8c543f09338269df9cbe72:1/1$</string>
            <key>textureFileName</key>
            <string>shopLayer.png</string>
        </dict>
    </dict>
</plist>
