<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,448},{220,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,236}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>background_land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,334}}</string>
                <key>sourceSize</key>
                <string>{500,334}</string>
            </dict>
            <key>bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,385},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>bubble_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,448},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{480,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,298}}</string>
                <key>sourceSize</key>
                <string>{480,298}</string>
            </dict>
            <key>sand-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,385},{480,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,61}}</string>
                <key>sourceSize</key>
                <string>{480,61}</string>
            </dict>
            <key>wave-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{480,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,64}}</string>
                <key>sourceSize</key>
                <string>{480,64}</string>
            </dict>
            <key>wave-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{480,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,47}}</string>
                <key>sourceSize</key>
                <string>{480,47}</string>
            </dict>
            <key>wave-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,302},{480,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,81}}</string>
                <key>sourceSize</key>
                <string>{480,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb92a47a8f3422cbd829e3c1a451ef6c$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
