<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,761},{220,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,236}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>background_land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,334}}</string>
                <key>sourceSize</key>
                <string>{500,334}</string>
            </dict>
            <key>bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,666},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>bubble_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,761},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cloud_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,385},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>cloud_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,575},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>cloud_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,511},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>cloud_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,451},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>cloud_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{62,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,36}}</string>
                <key>sourceSize</key>
                <string>{62,36}</string>
            </dict>
            <key>cloud_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,637},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>cloud_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,701},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>cloud_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,66},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>coral_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,891},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>coral_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,565},{146,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,99}}</string>
                <key>sourceSize</key>
                <string>{146,99}</string>
            </dict>
            <key>coral_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,891},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>coral_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,666},{120,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,89}}</string>
                <key>sourceSize</key>
                <string>{120,89}</string>
            </dict>
            <key>coral_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,453},{146,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,110}}</string>
                <key>sourceSize</key>
                <string>{146,110}</string>
            </dict>
            <key>grass_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,448},{118,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,320}}</string>
                <key>sourceSize</key>
                <string>{118,320}</string>
            </dict>
            <key>grass_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{102,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,292}}</string>
                <key>sourceSize</key>
                <string>{102,292}</string>
            </dict>
            <key>grass_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,453},{102,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,206}}</string>
                <key>sourceSize</key>
                <string>{102,206}</string>
            </dict>
            <key>grass_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{102,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,240}}</string>
                <key>sourceSize</key>
                <string>{102,240}</string>
            </dict>
            <key>grass_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,453},{110,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,202}}</string>
                <key>sourceSize</key>
                <string>{110,202}</string>
            </dict>
            <key>grass_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,448},{158,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,298}}</string>
                <key>sourceSize</key>
                <string>{158,298}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{480,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,298}}</string>
                <key>sourceSize</key>
                <string>{480,298}</string>
            </dict>
            <key>sand-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,385},{480,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,61}}</string>
                <key>sourceSize</key>
                <string>{480,61}</string>
            </dict>
            <key>wave-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{480,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,64}}</string>
                <key>sourceSize</key>
                <string>{480,64}</string>
            </dict>
            <key>wave-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{480,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,47}}</string>
                <key>sourceSize</key>
                <string>{480,47}</string>
            </dict>
            <key>wave-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,302},{480,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,81}}</string>
                <key>sourceSize</key>
                <string>{480,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b62410a7bee1dc0ef94bd1b09983c360:1/1$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
